{% extends 'base.html' %}

{% block title %} {{ book.name }} {% endblock %}

{% block content %}
    <li {% if not book.is_active %} class="inactive" {% endif %}>
        <a href="#">{{ book.name }}</a>
        <h2>{{ book.author }}</h2>
        <p>{{ book.date }}</p>
        <p>Тип книги - {{ book.type }}</p>

        <form method="post" action="{% url 'delete' book.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn-danger">Удалить данные</button>
        </form>
    </li>
{% endblock %}
